@font-face {
  font-family: canterbury;
  src: url(canterbury.ttf);
}
@font-face {
  font-family: blackchancery;
  src: url(blackchancery.ttf);
}
@font-face {
  font-family: gvic;
  src: url(GreatVictorian-Standard.otf);
}
html, body{margin: 0; padding: 0; float: none; width: auto; font-size: 1.5vmax; font-family: gvic;}
#header{margin: 0; padding: 0; overflow: hidden; background-color: #000000;}
.content{margin-left: 2%; color: #000000; line-height: 125%;}
#fwi{width: 100%; height: auto; max-height: 100%;}
#navbar{width: 100%; height: auto; background-color: inherit; padding: 0; margin: 0}
#navbar a{display: inline; font-family: gvic; font-size: 1.8vmax; font-weight: bold; text-align: center; padding: 15px;}
#navbar a:hover{background-color: #f1f1f1}
.main-elem:hover{background-color: #fff;}
.title0{font-family: canterbury; color: #ddc03f; margin-left: 1%;}
.title1{font-family: canterbury; color: #ddc03f; margin-left: 1%;}
.title2{font-family: serif; color: #000000; margin-left: 1%;}
.rules1{list-style-type: upper-roman;}
.body{padding-top: 2%; padding-bottom: 2%;}
.type1{background-color: #f2ddb9; background-size: 100% 100%; padding-top: 0.5%; padding-bottom: 0.5%;}
.type2{background-color: #ffffff; background-size: 100% 100%; padding-top: 0.5%; padding-bottom: 0.5%;}
.preamble{text-align: center; background-image: url(frame.png); font-family: blackchancery; background-repeat: no-repeat; background-color: #ffffff; background-size: 100% 100%; line-height: 250%; padding: 20%; padding-top: 22%; padding-bottom: 22%;}
a{font-family: monospace;}
a{color: orange;}
.frozen{position: fixed; top: 0; width: 100%;}
.frozen + .body{padding-top: 60px;}
@media (max-device-width: 1019px) and (min-device-width: 850px){
  #header{background-color: black;}
}
@media (max-device-width: 849px) and (min-device-width: 650px){
  #header{background-color: red;}
}
@media (max-device-width: 649px) and (min-device-width: 500px){
  #header{background-color: green;}
  .preamble{line-height: 200%;}
}
@media (max-device-width: 499px) and (min-device-width: 350px){
  #header{background-color: yellow;}
  .preamble{line-height: 125%;}
}
@media (max-device-width: 349px) and (min-device-width: 300px){
  #header{background-color: pink;}
  .preamble{line-height: 100%;}
}
@media (max-device-width: 299px) and (min-device-width: 0px){
  #header{background-color: pink;}
  .preamble{line-height: 100%;}
}
@media (min-device-width: 500px){
  .navbar-elem{float: right;}
  .main-elem{float: left;}
}
