html, body{margin: 0; padding: 0; float: none; width: auto; font-size: 1.5vmax;}
#header{margin: 0; padding: 0; overflow: hidden; background-color: cyan;}
.content{margin-left: 2%; color: #000000; line-height: 125%;}
#fwi{width: 100%; height: auto; max-height: 100%;}
#header-list{list-style-type: circle;}
#header-list-container{width: 100%; height: auto;}
.header-list-element{font-family: sans-serif; font-size: 1.2vmax; font-weight: bold;}
.title0{font-family: fantasy; color: #ddc03f; margin-left: 1%;}
.title1{font-family: fantasy; color: #ddc03f; margin-left: 1%;}
.title2{font-family: serif; color: #000000; margin-left: 1%;}
.rules1{list-style-type: upper-roman;}
.body{padding-top: 2%; padding-bottom: 2%;}
.type1{background-color: #f2ddb9; background-size: 100% 100%; padding-top: 0.5%; padding-bottom: 0.5%;}
.type2{background-color: #ffffff; background-size: 100% 100%; padding-top: 0.5%; padding-bottom: 0.5%;}
.preamble{text-align: center; background-image: url(frame.png); background-repeat: no-repeat; background-color: #ffffff; background-size: 100% 100%; line-height: 250%; padding: 20%; padding-top: 22%; padding-bottom: 22%;}
a{font-family: monospace;}
a{color: orange;}
@media (max-device-width: 1019px) and (min-device-width: 850px){
  #header{background-color: black;}
}
@media (max-device-width: 849px) and (min-device-width: 650px){
  #header{background-color: red;}
}
@media (max-device-width: 649px) and (min-device-width: 500px){
  #header{background-color: green;}
  .preamble{line-height: 200%;}
}
@media (max-device-width: 499px) and (min-device-width: 350px){
  #header{background-color: yellow;}
  .preamble{line-height: 125%;}
}
@media (max-device-width: 349px) and (min-device-width: 300px){
  #header{background-color: pink;}
  .preamble{line-height: 100%;}
}
@media (max-device-width: 299px) and (min-device-width: 0px){
  #header{background-color: pink;}
  .preamble{line-height: 100%;}
}
